<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Cardápio de Doces</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>🍰 Cardápio de Doces</h1>
    <div class="menu">
        <ul>
            <li>1 - Brigadeiro — R$ 5,00</li>
            <li>2 - Beijinho — R$ 5,00</li>
            <li>3 - Brownie — R$ 8,00</li>
            <li>4 - Gelatina colorida — R$ 4,00</li>
            <li>5 - Mousse de maracujá — R$ 7,00</li>
            <li>6 - Quindim — R$ 9,00</li>
            <li>7 - Banoffee — R$ 10,00</li>
            <li>8 - Sorvete artesanal — R$ 5,00</li>
            <li>9 - Gelatina sem açúcar — R$ 6,00</li>
            <li>10 - Mousse de chocolate — R$ 10,00</li>
            <li>11 - Cookies — R$ 3,00</li>
            <li>12 - Waffles — R$ 8,00</li>
            <li>13 - Churros — R$ 4,00</li>
            <li>14 - Pudim — R$ 8,00</li>
            <li>15 - Tiramisu — R$ 8,00</li>
            <li>16 - Doce de banana — R$ 8,00</li>
            <li>17 - Petit Gateau — R$ 15,00</li>
            <li>18 - Palha Italiana — R$ 9,00</li>
            <li>19 - Cajuzinho — R$ 8,00</li>
            <li>20 - Sonho — R$ 8,00</li>
            <li>21 - Marshmallows — R$ 8,00</li>
            <li>22 - Pavê — R$ 8,00</li>
            <li>23 - Cupcake — R$ 8,00</li>
            <li>24 - Macarons — R$ 4,00</li>
        </ul>
    </div>
    <button onclick="alert('Integração com Python aqui!')">Finalizar Compra</button>
</body>
</html>
